@keyframes jumpball {
    0%    {bottom:0px;}
    2.5%  {bottom:2.5px;}
    5%    {bottom:5px;}
    7.5%  {bottom:7.5px;}
    10%   {bottom:10px;}
    12.5% {bottom:12.5px;}
    15%   {bottom:15px;}
    17.5% {bottom:17.5px;}
    20%   {bottom:20px;}
    22.5% {bottom:22.5px;}
    25%   {bottom:25px;}
    27.5% {bottom:27.5px;}
    30%   {bottom:30px;}
    32.5%  {bottom:32.5px;}
    35%    {bottom:35px;}
    37.5%  {bottom:37.5px;}
    40%    {bottom:39px;}
    42.5%  {bottom:37.5px;}
    45%    {bottom:36px;}
    47.5%  {bottom:35px;}
    50%    {bottom:32.5px;}
    52.5%   {bottom:30px;}
    55%    {bottom:27.5px;}
    57.5%   {bottom:25px;}
    60%     {bottom:22.5px;}
    62.5%   {bottom:20px;}
    65%     {bottom:17.5px;}
    67.5%   {bottom:15px;}
    70%     {bottom:12.5px;}
    72.5%   {bottom:10px;}
    75%     {bottom:7.5px;}
    77.5%   {bottom:5px;}
    80%     {bottom:2.5px;}
    82.5%   {bottom:0px;}
    85%     {bottom:2.5px;}
    87.5%   {bottom:5px;}
    90%     {bottom:7.5px;}
    92.5%   {bottom:7.5px;}
    95%     {bottom:5px;}
    97.5%   {bottom:2px;}
    100%     {bottom:0px;}
}

#ball{
    /* width: 637px; */
    right: 0;
    margin: 40px 0px -15px 173px;
    position: relative;
    animation: 1s 1s jumpball linear;
}
