    /* font-family: 'Roboto', sans-serif; 
    font-family: 'Nunito', sans-serif; */
*{
border-radius: 2px !important;
}

button{
border-radius: 50px !important;
}

select{
border-radius: 50px !important;
}

li{
    list-style: none !important;
}

a, button{
    text-decoration: none !important;
}

body{
    background: rgb(235, 235, 235);
    margin: auto !important;
  }



#profile{
    min-height: 500px;
    border: 1px solid;
    margin: 50px auto;
}

#profile_wrapper{
    position: relative;
    z-index: 0;
    margin-bottom: 100px;
}

#profile_cover{
    width: 100%;
}

#profile_photo{
    min-width: 100px;
    position: absolute;
    background: white;
    border-radius: 50% !important;
    z-index: 2;
    margin: -9% 77% 0 5%;
}

#profile_photo img{
    border-radius: 50% !important;
    padding: 10px;
}
    /* 
    .profile_info{
        width: 100%;

    } */

#profile_info_name{
    border-bottom: 1px solid rgb(212, 212, 212);
    /* height: 130px; */
    text-align: center;
    font-size: 30px !important;
    font-weight: 700;
    /* margin-top: 15px; */
    color: #5b813d;
    font-family: sans-serif;
}
